div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}

span{
    padding: 5px;
}

img{
    width: 33%;
}

mat-form-field{
    width: 50%;
}
